pytorch-lightning==1.9.4
lightning-bolts
scipy
open3d
h5py
ninja
wandb
hydra-core
cython
scikit-image
trimesh
arrgh
plyfile
imageio-ffmpeg
gin-config
torchviz
thop
imageio
einops
spconv-cu118
timm
flash-attn==2.6.3 
